{% extends 'base.html' %}

{% block heading %}
{{ vul_id }}
<!-- {{ vul_id }} -->
{% endblock %}

{% block content %}
<form action = "/add-incident/" method="POST">
    <input type='hidden' name="vul_id" value={{ vul_id }}>
    <div>
        <label for="inc_name">Company Name:</label>
        <input type="text" id="inc_name" name="inc_name" />
    </div>
    <div>
        <label for="inc_url">Incident URL:</label>
        <input type="url" id="inc_url" name="inc_url" />
    </div>
    <div>
        <label for="inc_year">Incident Year:</label>
        <input type="number" id="inc_year" name="inc_year" />
    </div>

    <button type="submit">Submit</button>
    <button type="submit" class="sound-damage" style="display:none;"></button>
</form>
<div class="mt-3">
    <a href="/" class="btn btn-secondary sound-hit">
        Back to Home
    </a>
</div>
{% endblock %}
